<?php

////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////INFOS GENERALES/////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////

// identifiant de l'application dans UsersHub ou dans la table utilisateurs.t_applications
$id_application = 3;
// identifiant du menu agents dans UsersHub ou dans la table utilisateurs.t_menus
$id_menu = 1;
// Domaine où est installée l'application
$host_url = 'http://mondomaine.fr';
// Chemin vers l'application à partir de la racine du répertoire de publication du serveur web (exemple : /police_ecrins/ ou encore /applis_metier/police/vanoise/)
$racine = "/police/";
// Nom de l'établissement utilisant l'application (pensez à coder les accents et caracteres spéciaux : http://alexandre.alapetite.fr/doc-alex/alx_special.html)
$etablissement = "Nom de ma structure";
// Abbréviation du nom de l'établissement
$etablissement_abv = "MS";
// Référent thématique auquel se référer en cas de problème
$referent_police = "Prenom Nom";
// Email du référent thématique
$referent_police_email = "prenom.nom@mondomaine.fr";
// NON DEVELOPPE - Demander aux agents de renseigner l'altitude de chaque intervention. Valeurs possibles : oui OU non
$saisie_altitude = "non";
// Numéro de téléphone du référent
$referent_police_tel = "00 00 00 00 00 (Unité de travail)";
// Permettre au référent d'ajouter un agent. Valeurs possibles : oui OU non
$ref_ajout_agent = "non";
// Permettre au référent de modifier ou supprimer un agent. Valeurs possibles : oui OU non
$ref_edit_agent = "non";
// Permettre au référent de réinitialiser le mot de passe des agents. Valeurs possibles : oui OU non
$ref_mdp_agent = "non";
// Afficher ou non l'onglet de gestion des agents. Valeurs possibles : oui OU non
// Cette fonctionnalité n'est pas encore totalement compatible avec le schéma utilisateurs de l'appplication. 
// Il est fortement conseillé de la laisser à non et de gérer les utilisateurs avec UsersHub
$acces_agents = "non";
// Permettre à tous les utilisateurs d'accéder à la rubrique DOCUMENTS mettant à disposition des documents de référence concernant la mission POLICE. Valeurs possibles : oui OU non
$acces_documents = "oui";
// Nombre d'interventions affichées par page. 
$limite = 30;

////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////CARTO////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////

//URL du serveur WMS
$wms_url = "http://mondomaine.fr/wms?";
//Projection utilisée au format EPSG (3857 pour l'API geoportail, 27572 pour du lambert 2 étendu, 2154 pour du lambert 93, 4326 pour du WGS84, ...)
$wms_proj = 3857;
//Coordonnées du centre du territoire dans la projection définie précédemment
$ol_x_center = 700000;
$ol_y_center = 5594000;
//Etendu du territoire dans la projection définie précédemment
$min_x = 600000 ;
$max_x = 760000 ;
$min_y = 5500000 ;
$max_y = 5720000 ;

?>