#config PostgreSQL

#effacer la base de donnée existante lors de l'installation
drop_apps_db=false

#nom de la base de données de l'application
db_name=policedb

#nom de l'utilisateur propriétaire de la base PostgreSQL
user_pg=policeuser

#nom du superutilisateur PostgreSQL
admin_pg=policeadmin

#user propriétaire de la base policedb
user_pg_pass=monpassachanger

#superuser de la base policedb
admin_pg_pass=monpassachanger